.commentEditForm {
  grid-area: main;
  display: grid;
  justify-self: stretch;
  gap: 15px;
  margin: 15px;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    '. . title title . .'
    'form form form form form form';
}

.commentEditForm h3 {
  grid-area: title;
}

.commentEditForm form {
  grid-area: form;
}

.commentEditForm form input {
  width: 100%;
}

.commentEditForm form textarea {
  width: 100%;
}

#commentSubmit {
  width: 4em;
}
