.postEditForm {
  grid-area: main;
  display: grid;
  grid-auto-flow: row;
  justify-self: stretch;
  gap: 15px;
  margin: 15px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'form form form form';
}

.postEditForm form {
  grid-area: form;
  justify-self: stretch;
}

.postEditForm form input {
  width: 100%;
}

form textarea {
  width: 100%;
  height: 500px;
}

#submitPostForm {
  width: 4em;
}
